<!doctype html>
<html lang="en">
<head>
    <title>{{.FileName}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
</head>
<body class="">
    <div class="container-fluid">
        <h1>{{.FileName}}</h1>
        <table class="table table-striped">
            <tr colspan="{{.TotalHeaders}}" class="success">
                {{range $header := .Headers}}
                <th>{{$header}}</th>
                {{end}}
            </tr>

            {{ $total := .TotalHeaders }}

            {{ range $d := .Data}}
                <tr colspan="{{$total}}">
                    <td>{{.Region}}</td>
                    <td>{{.Country}}</td>
                    <td>{{.ItemType}}</td>
                    <td>{{.SalesChannel}}</td>
                    <td>{{.OrderPriority}}</td>
                    <td>{{.OrderDate}}</td>
                    <td>{{.OrderID}}</td>
                    <td>{{.ShipDate}}</td>
                    <td>{{.UnitsSold}}</td>
                    <td>{{.UnitPrice}}</td>
                    <td>{{.UnitCost}}</td>
                    <td>{{.TotalRevenue}}</td>
                    <td>{{.TotalCost}}</td>
                    <td>{{.TotalProfit}}</td>
                </tr>
            {{else}}
            <tr>
                <td colspan="{{$total}}" align="center">No data was exported.</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>